# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env
.env.local
.venv
venv


# Node
node_modules/
.next/
out/
dist/
npm-debug.log*

# Database / local files
*.db
*.sqlite3
postgres_data/
mlruns/
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


node_modules
.next
__pycache__
*.pyc
